
body{
	background-image: url("fundo.jpg");
	font-family: verdana;
	font-size: 100%;
	font-weight: bold;
	color: #0069D9;
}

p#totalPartidas, div#historico{
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


div#TipoJogo{
	text-align: center;

}
div.form{
	border: 3px solid #0069D9;
	padding:10px;
	width: 340px;
	position: relative;
	margin-bottom: 5px;
	background-color: white;
}

div.infoJogador{
	width: 600px;
	border: 3px solid #0069D9;
	padding: 1%;
	margin: 0 auto;
	text-align: center;
	background-color: white;
}
p.resultado{
	text-align: center;
}

div#formulario{
	width: 300px;
	margin:0 auto;
}

button#VsComputador, #VsPessoa{
	width: 220px;
}

div.escolher{
	text-align: center;
}

div.botao{
	display: inline-block;
	align-items: center;
}

#interacao{
	text-align: center;
	margin-top: 1%;
}

#enviarItemJogador2, #enviarItemJogador1{
	margin-top: 1%;
}
button#submitFormulario{
	position: absolute;
}

div.score{
	background-color: #0069D9;
	color: white;
	margin-top: 2px;
	padding: 10px;
	max-height: 40px;
}
