
body{
	background-image: url("fundo.jpg");
	background-size: cover;
	font-family: verdana;
	font-size: 100%;
	font-weight: bold;
}

p#totalPartidas, #paragrafoInfo{
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	margin-top: 1%;
}
#paragrafoInfo{
	font-size: 200%;
	font-weight: bold;
}

div#historico{
	color: black;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

td{
	border: 1px solid black;
	border-collapse: collapse;
}
th{
	border: 1px solid white;
}


div#IniciarJogo{
	text-align: center;

}
div.form{
	border: 3px solid #28A745;
	padding:10px;
	width: 340px;
	position: relative;
	margin-bottom: 5px;
	border-radius: 10px;
}

div.infoJogador{
	width: 600px;
	padding: 1%;
	margin: 0 auto;
	text-align: center;
}

div#formulario{
	width: 300px;
	margin:0 auto;
}

button#VsComputador{
	width: 220px;
}

div.escolher{
	text-align: center;
}

div.botao{
	display: inline-block;
	align-items: center;
}

#interacao{
	text-align: center;
	margin-top: 1%;
}

#enviarItemJogador{
	width: 200px;
}
button#submitFormulario{
	position: absolute;
}

div.score{
	background-color: #007BFF;
	color: white;
	margin-top: 2px;
	padding: 10px;
	max-height: 40px;
	margin-bottom: 1%;
	border-radius: 5px;
}
